.switch {
  display: flex;
  height: 34px;
  position: relative;
  width: 60px;
  top:22px;

}

.switch input {
  display: none;
}

.theme-slider, .lang-slider {
  background-color: #000;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.theme-slider:before {
  background: url(../img//icons/theme-moon.svg);

  content: "";
  height: 36px;

  position: absolute;
  transition: 0.4s;
  width: 36px;
}



input:checked + .theme-slider {
  background-color: var(--primary);
}



input:checked + .theme-slider:before {
  transform: translateX(26px);
  background: url(../img//icons/theme-sun.svg);
}

.theme-slider.round, .lang-slider.round {
  border-radius: 34px;
}

.theme-slider.round:before, .lang-slider.round:before {
  border-radius: 50%;
}

.lang-slider{

  background-color: var(--primary);
}
input:checked + .lang-slider {
  background-color: var(--primary);;
}

input:checked + .lang-slider:before {
  transform: translateX(26px);
  background: url(../img//icons/eua-32x32.png);
  background-size: cover;
  background-repeat: no-repeat;
}


.lang-slider:before {
  background: url(../img//icons/brasil-32x32.png);

  content: "";
  height: 36px;
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  transition: 0.4s;
  width: 36px;
}


@media (max-width: 991px){
  .lang-slider:before, .theme-slider:before {

    position: absolute;
    transition: 0.4s;
    width: 36px;
    left: 0px;
    padding: 12px;
  }
  
}

@media screen and (min-width: 991px){
  .slider-mobile{
    visibility: hidden;
    display: none;
  }


}

@media screen and (max-width: 991px){
  .switch-box{
    visibility: hidden;
    display: none;
  }

  
}